<div class="footer">
  <div class="container-fluid">
    <div class="row" style="margin-left: 8%;margin-top: 10px;">
      <div class="col col-md-3 m-auto">
       <h4> Tp Angular </h4>
       <p>my first app</p>
      </div>
      <div class="col col-md-3 m-auto">
        <h4> About </h4>
        <p>some details!</p>
       </div>
       <div class="col col-md-3 m-auto">
        <h4> Contact </h4>
        <p>+216 77 888 999</p>
       </div>

    </div>
    <div class="row" style="background:#303030 ;">
      <p class="copy">&copy; 2021 Maher Ouni All Rights Reserved</p>
    </div>
  </div>

</div>
